// Colores

$white:#fff;
$platinum: #e6e7e7;
$lightgray: #d1d1d1;

$fuzzywuzzy: #e56353;
$ruddypink: #d76c69;
$spanishpink: #ecbcba;

$eerieblack: #121619;
$raisinblack: #222323;
$nickel: #6c6e70;

// tipografia

$Roboto: 'Roboto', sans-serif;
$Playfair: 'Playfair Display', serif;

// Pesos

$regular:400;
$ligth: 300;
$black:900;

// Tamaños

$xx-large: 70px;
$x-large: 30px;
$large: 18px;
$medium: 16px;
$small: 12px;
// $x-small: 12px;
