.botones {
    padding-top: 3rem;
    // padding-left: 10%;
}

.contenido-section--btn {
    &-rounded {
      border-radius: 60px;
    }
  
    &-size {
      padding: .6rem 1.2rem;
    }
  }

  .bordes2 {
    border-top-right-radius: 240px;
    // border-start-end-radius: 240px;
    // border-bottom-left-radius: 240px;
  }