.hero {
    background-image: url('../images/post-image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 15% 15% 5% 15%;
    text-align: center;
}
.herotext {
padding-top: 10rem;
}

i {
    padding-top: 5rem;
    color:$white;
    text-align: center;

  }
